APP_PORT=3000
DOMAIN_NAME=http://localhost:3000


TELEGRAM_TOKEN=token BOT
TELEGRAM_CHAT_ID=id GROUP

MONGO_LOGIN=admin
MONGO_PASSWORD=admin
MONGO_PORT=27017
MONGO_HOST=localhost
MONGO_AUTHDATABASE=admin

JWT_SECRET=test
